name: Setup

on:
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup Node
        with:
          node-version: 14
        uses: actions/setup-node@v2
      - name: setup labels
        run: npx github-label-sync --labels labels.yml --access-token "$GITHUB_TOKEN" "$GITHUB_REPOSITORY"
        working-directory: .github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}